@font-face {
  font-family: 'Android';
  src: url(../fonts/idroid.otf) format('opentype');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor0: #ebe5c5;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'Android', cursive;
}

body {
  background-color: var(--cor0); 
  font-family: var(--fonte-padrao);
}

header {
  background-color: var(--cor4);
}

header > h1 {
  color: #FFFFFF;
  font-family: var(--fonte-destaque);
}

header > p {
  color: #FFFFFF;
}

nav {
  background-color: var(--cor5);
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  background-color: #FFFFFF;
}

main h1 {
  color: var(--cor5);
  font-family: var(--fonte-android);
}

main h2 {
  font-family: var(--fonte-android);
}

main img {
  width: 100%;
}

main img.pequena {
  display: block;
  width: 50%;
  margin: auto;
}

footer {
  background-color: var(--cor5);
  color: #FFFFFF;
}