@font-face {
  font-family: 'Android';
  src: url(../fonts/idroid.otf) format('opentype');
  font-weight: normal;
}

:root {
  --cor0: #c5ebd6;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #036d1e;
  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'Android', cursive;
}

body {
  background-color: var(--cor0); 
}