@font-face {
  font-family: 'Android';
  src: url(../fonts/idroid.otf) format('opentype');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --cor0: #ebe5c5;
  --cor1: #83e1ad;
  --cor2: #3ddc84;
  --cor3: #2fa866;
  --cor4: #1a5c37;
  --cor5: #063d1e;
  --fonte-padrao: Arial, Helvetica, sans-serif;
  --fonte-destaque: 'Bebas Neue', cursive;
  --fonte-android: 'Android', cursive;
}

body {
  background-color: var(--cor0); 
  font-family: var(--fonte-padrao);
}

header {
  background-color: var(--cor4);
  min-height: 150px;
  text-align: center;
  padding-top: 40px;
}

header > h1 {
  color: #FFFFFF;
  font-family: var(--fonte-destaque);
  margin-bottom: 20px;
  font-size: 3em;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}

header > p {
  color: #FFFFFF;
  font-size: 1.2rem;
  font-family: var(--fonte-padrao);
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
}

nav {
  background-color: var(--cor5);
}

main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 30px;
  background-color: #FFFFFF;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

main h1 {
  color: var(--cor5);
  font-family: var(--fonte-android);
}

main h2 {
  font-family: var(--fonte-android);
}

main img {
  width: 100%;
}

main img.pequena {
  display: block;
  width: 50%;
  margin: auto;
}

footer {
  background-color: var(--cor5);
  color: #FFFFFF;
}